@* 
    This is the main layout file for the application.
    It defines the common structure for all pages in the application.
    It includes the HTML head section, header, main content area, and footer.
    The head section includes meta tags, the page title, and links to CSS files.
    The header includes the navigation bar.
    The main content area is where the content of individual pages is rendered.
    The footer includes copyright information.
    The layout also includes common scripts and a section for page-specific scripts.
*@
@using Microsoft.AspNetCore.Identity
@using PROG_3A_Part_2_Attempt_3.Models
@using Microsoft.AspNetCore.Http
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Agri-Energy Connect</title>

    <link rel="stylesheet" href="~/css/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PROG_3A_Part_2_Attempt_3.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/bootstrap-dark-mode/bootstrap-dark-mode.min.css" />
    <link rel="stylesheet" href="~/bootstrap-dark-mode/bootstrap-dark-mode.dark.min.css" />
    <link rel="stylesheet" href="~/bootstrap-dark-mode/bootstrap-dark-mode.dark.rtl.min.css" />
    <link rel="stylesheet" href="~/bootstrap-dark-mode/bootstrap-dark-mode.rtl.min.css" />
    <link rel="stylesheet" href="~/css/sweetalert2.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/Agri-Energy Connect NoBG.png" width="30" height="30" class="d-inline-block align-top" alt="Logo">
                    Agri-Energy Connect
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    @{
                        if(User.Identity.IsAuthenticated)
                        {
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <form asp-area="" asp-controller="Home" asp-action="Index" method="post">
                                        <button type="submit" class="btn btn-link text-black">Dashboard</button>
                                    </form>
                                </li>
                                @if (User.IsInRole("Employee"))
                                {
                                    <li class="nav-item">
                                        <form asp-area="" asp-controller="Home" asp-action="Customers" method="post">
                                            <button type="submit" class="btn btn-link text-black">Customers</button>
                                        </form>
                                    </li>
                                }
                            </ul>


                            <ul class="navbar-nav ml-auto align-items-center">
                                @{
                                    var user = await UserManager.GetUserAsync(User);
                                    if (user != null)
                                    {
                                        <li class="nav-item my-auto">
                                            <span class="navbar-text">Hello, @user.FirstName @user.LastName</span>
                                        </li>
                                    }
                                }
                                <li class="nav-item">
                                    <form asp-controller="Account" asp-action="Logout" method="post">
                                        <button type="submit" class="btn btn-link text-black">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Agri-Energy Connect
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (!Context.User.Identity.IsAuthenticated && ViewData["Redirected"] as bool? == true)
    {
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'You must be logged in to access other pages.'
            });
        </script>
    }
</body>
</html>
