html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
    margin: 0;
    margin-bottom: 60px;
}

.navbar-brand img {
    margin-right: 10px;
}

h1, h2, a{
    color: #212529;
}

/* Custom Farmer Button */
.apply-farmer-button {
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    display: inline-block;
    margin: 8px 4px 4px 0px;
    transition: background-color 0.3s ease;
}

    .apply-farmer-button:hover {
        background-color: #0056b3;
        
    }

/* Custom new product button */
.new-product-button {
    display: inline-flex;
    height: 46px;
    padding: 0px 32px 0px 10px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #0057FC;
    color: #0057FC;
    background: #FFF;
    transition:background-color 0.3s ease, color 0.3s ease;
}
    .new-product-button:hover {
        background-color: #0057FC; 
        color: #FFF; 
    }

    .new-product-button.with-icon i, .new-product-button.with-icon svg {
        color: inherit; 
    }

    .new-product-button:hover i, .new-product-button:hover svg {
        color: #FFF; 
    }

/* Table styles */
.table.myTable {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

    .table.myTable th, .table.myTable td {
        border: 1px solid #ddd;
        padding: 12px;
    }

    .table.myTable th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #007bff; /* Light grey */
        color: #fff;
    }

    .table.myTable tr {
        background-color: #fafafa; /* Very light grey */
    }

        .table.myTable tr:hover {
            background-color: #f0f0f0; /* Light grey */
        }

    .table.myTable .btn {
        color: #fff;
        background-color: #28a745; /* Light grey */
        border: none;
        border-radius: 5px;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

        .table.myTable .btn:hover {
            background-color: #218838; /* Darker grey */
        }